*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  background: #242933;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.15em;
  font-weight: 400;
  line-height: 1;
  color: #596172;
}

a {
  color: #f6f0e9;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

a:hover {
  color: #ec4c56;
}

:focus {
  outline: none;
}

._container {
  max-width: 1045px;
  padding: 0 30px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.none {
  display: none !important;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #242933;
  z-index: 50;
  -webkit-box-shadow: 0 0 5px 4px #181d248c;
          box-shadow: 0 0 5px 4px #181d248c;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.header__logo {
  font-size: 1.5em;
  font-weight: 500;
  color: #ec4c56;
  text-transform: capitalize;
}

.header__nav-button-wrapper {
  padding: 20px 10px;
  margin-right: -10px;
  cursor: pointer;
}

.header__nav-button {
  position: relative;
}

.nav-button__icon::before, .nav-button__icon::after {
  content: '';
  position: absolute;
  display: block;
  background-color: #ec4c56;
  height: 3px;
  min-width: 35px;
}

.nav-button {
  min-width: 35px;
}

.nav-button__icon {
  display: block;
  background-color: #ec4c56;
  height: 3px;
}

.nav-button__icon::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.nav-button__icon::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

<<<<<<< HEAD
=======
.main__keyboard-simulator {
}

.title {
}

.text {
}

.info {
}
/*
 * ─────────────────────────────────────────────────────── KEYBOARD-SIMULATOR ─────
 */

.keyboard-simulator {
}
.keyboard-simulator__container {
}
.keyboard-simulator__wrapper {
}
.keyboard-simulator__description {
}
.description-keyboard-simulator {
}
.description-keyboard-simulator__title {
}
.description-keyboard-simulator__title-text {
}
.description-keyboard-simulator__title-more-info {
}
.description-keyboard-simulator__text {
}
.keyboard-simulator__body {
}
.body-keyboard-simulator {
}
.body-keyboard-simulator__trainer {
}
.body-keyboard-simulator__live-stats {
}
.live-stat-ks {
}
.live-stat-ks__word-counter {
}
.live-stat-ks__input-word {
}
.live-stat-ks__delimiter {
}
.live-stat-ks__all-word {
}
.live-stat-ks__cpm {
}
.live-stat-ks__time {
}
.live-stat-ks__options-keyboard {
}
.options-keyboard-ks {
}
.options-keyboard-ks__lock-buttons {
}
.options-keyboard-ks__capslk {
}
.options-keyboard-ks__numlk {
}
.body-keyboard-simulator__text {
}
.body-keyboard-simulator__caret {
}
.body-keyboard-simulator__words {
}
.body-keyboard-simulator__next-text {
}
.body-keyboard-simulator__next-text-button {
}
.body-keyboard-simulator__statistic {
}
.statistic-keyboard-simulator {
}
.statistic-keyboard-simulator__chart {
}
.statistic-keyboard-simulator__cpm {
}
.cell-statistic {
}
.statistic-keyboard-simulator__cpm-title {
}
.title-chart {
}
.statistic-keyboard-simulator__cpm-value {
}
.value-chart {
}
.statistic-keyboard-simulator__accuracy {
}
.statistic-keyboard-simulator__accuracy-title {
}
.statistic-keyboard-simulator__accuracy-value {
}
.statistic-keyboard-simulator__characters {
}
.statistic-keyboard-simulator__characters-title {
}
.statistic-keyboard-simulator__characters-value {
}
.statistic-keyboard-simulator__time {
}
.statistic-keyboard-simulator__time-title {
}
.statistic-keyboard-simulator__time-value {
}
.statistic-keyboard-simulator__source {
}
.statistic-keyboard-simulator__source-title {
}
.statistic-keyboard-simulator__source-value {
}
.statistic-keyboard-simulator__reenter {
}
.statistic-keyboard-simulator__repeat-text {
}
.statistic-keyboard-simulator__next-text {
}

/*
 * ─── FOOTER ─────────────────────────────────────────────────────────────────────
 */
>>>>>>> 9a92e6c (Сверстан каркас клавиатурного тренажера)
.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.footer__container > *:not(:first-child) {
  padding-top: 15px;
}

.footer__logo {
  font-size: 1.4rem;
  font-weight: 500;
  color: #ec4c56;
  text-transform: capitalize;
}

.footer__social-media {
  text-align: center;
}

.footer__social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-media li {
  font-size: 1.2em;
  padding: 0 10px;
}

.footer__copyright {
  font-size: 1rem;
}
