*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  background: #242933;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.15em;
  font-weight: 400;
  line-height: 1;
  color: #596172;
}

a {
  color: #f6f0e9;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

a:hover {
  color: #ec4c56;
}

:focus {
  outline: none;
}

._container {
  max-width: 1045px;
  padding: 0 30px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.none {
  display: none !important;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #242933;
  z-index: 50;
  -webkit-box-shadow: 0 0 5px 4px #181d248c;
          box-shadow: 0 0 5px 4px #181d248c;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.header__logo {
  font-size: 1.5em;
  font-weight: 500;
  color: #ec4c56;
  text-transform: capitalize;
}

.header__nav-button-wrapper {
  padding: 20px 10px;
  margin-right: -10px;
  cursor: pointer;
}

.header__nav-button {
  position: relative;
}

.nav-button__icon::before, .nav-button__icon::after {
  content: '';
  position: absolute;
  display: block;
  background-color: #ec4c56;
  height: 3px;
  min-width: 35px;
}

.nav-button {
  min-width: 35px;
}

.nav-button__icon {
  display: block;
  background-color: #ec4c56;
  height: 3px;
}

.nav-button__icon::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.nav-button__icon::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

<<<<<<< HEAD
=======
.main__banner {
}

/*
 * ─────────────────────────────────────────────────────────────────── BANNER ─────
 */

.banner {
	display: flex;
	align-items: center;
	height: 100vh;
}
.banner__container {
}
.banner__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin: 0 -15px;
}
.banner__wrapper > * {
	margin: 0 15px;
}
.banner__header {
	position: relative;
	flex: 2;
}
.banner__title {
	user-select: none;
	color: #f6f0e9;
	font-size: 120px;
}
.banner__subtitile {
	line-height: 1.4em;
}
.banner__subtitile > * {
	padding-top: 20px;
}
.banner__my-name {
}
.banner__my-target {
}
.banner__my-key-skills {
	color: #e2e5ec;
}
.banner__photo {
	flex: 1;
}
.photo-banner {
}
<<<<<<< HEAD
=======

.main__banner {
}

/*
 * ─────────────────────────────────────────────────────────────────── BANNER ─────
 */

.banner {
	display: flex;
	align-items: center;
}
.banner__container {
}
.banner__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin: 0 -15px;
}
.banner__wrapper > * {
	margin: 0 15px;
}
.banner__header {
	position: relative;
	flex: 2;
}
.banner__title {
	user-select: none;
	color: #f6f0e9;
	font-size: 120px;
}
.banner__subtitile {
	line-height: 1.4em;
}
.banner__subtitile > * {
	padding-top: 20px;
}
.banner__my-name {
}
.banner__my-target {
}
.banner__my-key-skills {
	color: #e2e5ec;
}
.banner__photo {
	flex: 1;
}
.photo-banner {
}
>>>>>>> 120a649 (Сверстан баннер)
.photo-banner__body {
	position: relative;
	user-select: none;
}
.photo-banner__filter {
}
.photo-banner__filter::before,
.photo-banner__filter::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #242933;
}
.photo-banner__filter::before {
	mix-blend-mode: lighten;
}
.photo-banner__filter::after {
	mix-blend-mode: color;
}
.photo-banner__avatar {
}
.photo-banner__avatar img {
	max-width: 100%;
}

/*
 * ─── FOOTER ─────────────────────────────────────────────────────────────────────
 */
>>>>>>> adb5df6 (Сверстан баннер)
.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.footer__container > *:not(:first-child) {
  padding-top: 15px;
}

.footer__logo {
  font-size: 1.4rem;
  font-weight: 500;
  color: #ec4c56;
  text-transform: capitalize;
}

.footer__social-media {
  text-align: center;
}

.footer__social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-media li {
  font-size: 1.2em;
  padding: 0 10px;
}

.footer__copyright {
  font-size: 1rem;
}
