@media (max-width: 1100px) {
	.calculator__wrapper {
		flex-direction: column;
		margin: -15px 0;
	}
	.calculator__wrapper > * {
		margin: 15px 0;
	}
	.calculator__body {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.display-calculator__history-button-wrapper {
		top: 70%;
	}
	.display-calculator__history-button {
		bottom: 2%;
	}
	.display-calculator__history-button-wrapper::before,
	.display-calculator__history-button-wrapper::after {
		width: 0;
		height: 0;
	}
}

@media (max-width: 600px) {
	.description-calculator {
		font-size: 0.8em;
	}
	.calculator__body {
		font-size: 0.8em;
		width: 60%;
	}

	.description-keyboard-simulator {
		font-size: 0.8em;
	}
	.display-calculator {
		padding: 15px;
	}
	.keyboard-simulator__body {
		font-size: 0.8em;
	}
	.footer {
		font-size: 0.8em;
	}
}

@media (max-width: 420px) {
	.display-calculator__history-button-wrapper {
		top: 60%;
	}

	.calculator__body {
		font-size: 1rem;
		/* align-self: stretch; */
		width: 100%;
	}
	.display-calculator {
		padding: 10px;
	}
	.display-calculator__history-button {
		margin-bottom: -10px;
	}

	.display-calculator__expression {
		font-size: 0.8rem;
	}
	.display-calculator__result {
		font-size: 1.5rem;
	}
	.display-scroll-wrapper__buttons {
		font-size: 0.8rem;
	}
}
